.App{
  /* text-align: center; */
  /* width: 100%; */
  height: 500px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.login-form, .signup-form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* margin-bottom: 10px; */
  /* width: 100%; */
  height: 150px;
}

.signup-form{
  height: 375px;
}

.login-container, .signup-container, .home-container{
  text-align: center;
  width: 90%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .toggle-signup-login{
  align-self: flex-end;
  color:red;
} */

.welcome{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
}

label {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 40px;
  /* width: 80%; */
  /* padding-left: 5%; */
}

.confirmation-input {
  display: flex;
  align-self: center;
}

.submit-button{
  /* margin-top: 150px; */
}

.error {
  color: red;
  text-align: center;
  /* line-height: 15px; */
  margin: 5px;
}

.success-message {
  color: green;
  text-align: center;
  /* line-height: 15px; */
  /* margin: 5px; */
}

.article-container{
  width:100%;
  padding-top: 20px;
  display: flex;
}

/* .create-article{
  display: flex;
  align-self: flex-end;
  float: right;
  color: red;
} */

.article-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: inherit;
}
